table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 2px solid #ddd;
    padding: 1px;
    text-align: center;
}

th {
    font-size: 15px; /* column headers */
}

td {
    font-size: 14px; /* table content */
}

.dataframe {
    width: 100%;
}

.stSlider > div {
    padding-right: 50px;
}

.table-min-width {
    min-width: 1400px; /* minimum width of the table */
}

.stMultiSelect [data-baseweb=select] span{
    max-width: 250px; /* Trick to avoid words in the multiselection widget to get truncated */
}
